TODO
<md-dialog aria-label="Add flashcard">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add flashcard</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">

                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>Header header</h2>
                <p>
                    paragraph paragraph
                </p>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button>
                Done
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
