<div layout="column" layout-align="center none">
    <div layout="row" layout-align="center start">
        <div flex="25" layout="column" layout-align="end stretch" class="site-navigation-btn">
            <md-button ng-disabled="vm.flashcardSession" ng-click="vm.navigate('flashcardMain')">
                <md-icon aria-label="keyboard_arrow_left">keyboard_arrow_left</md-icon>History
            </md-button>
        </div>
        <div flex="50" ng-show="vm.flashcard">
            <flashcard data-front="{{vm.flashcard.front}}"
                       data-back="{{vm.flashcard.back}}"
                       data-image-url="Images/placeholder-programming.png"
                       data-feedback="vm.feedback(answer)"
                       data-flipped="vm.showAnswer"></flashcard>
        </div>
        <div flex="50" ng-hide="vm.flashcard">done</div>

        <div flex="25" layout="column" layout-align="start stretch" class="site-navigation-btn">
            <md-button ng-disabled="!vm.flashcard" ng-click="vm.feedback(-1)">
                Skip card<md-icon aria-label="keyboard_arrow_right">keyboard_arrow_right</md-icon>
            </md-button>
        </div>
    </div>
</div>