<div layout="column" layout-align="center none">
    <div layout="row" layout-align="center" layout-padding>
        <div class="md-display-1">
            Answer, Flip, Evaluate and be Honest.
        </div>
    </div>

    <div layout="row" layout-align="center center">
        <div flex="25" layout="column" layout-align="end stretch">
            <md-button>
                <md-icon aria-label="keyboard_arrow_left">keyboard_arrow_left</md-icon>
            </md-button>
        </div>
        <div flex="50">
            <flashcard data-front="How many planets are there in our solar system, excluding Pluto?"
                       data-back="There are 8 planets. They are: Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus and Neptune."
                       data-image-url="Images/placeholder.png"
                       onAnswer="{{vm.feedback(answer)}}"></flashcard>
        </div>
        <div flex="25" layout="column" layout-align="end stretch">
            <md-button>
                <md-icon aria-label="keyboard_arrow_right">keyboard_arrow_right</md-icon>
            </md-button>
        </div>
    </div>
</div>