<div layout="column" layout-align="center none" layout-padding layout-fill>
    <md-whiteframe layout="row" class="md-whiteframe-1dp" layout-align="space-between stretch" flex="100">
        <div class="site-right-btn-group">
            <md-button ng-click="vm.toggleShowAnswer()">
                <md-icon ng-hide="vm.showAnswer" aria-label="visibility">visibility</md-icon>
                <md-icon ng-show="vm.showAnswer" aria-label="visibility_off">visibility_off</md-icon>
            </md-button>
            <md-button>
                <md-icon aria-label="add">add</md-icon>
            </md-button>
            <md-button>
                <md-icon aria-label="delete">delete</md-icon>
            </md-button>
        </div>
        <div class="site-filler"></div>
        <div class="right">
            <md-button>
                Revise<md-icon aria-label="keyboard_arrow_right">keyboard_arrow_right</md-icon>
            </md-button>
        </div>
    </md-whiteframe>
    <div md-margin></div>
    <md-whiteframe class="md-whiteframe-1dp" layout-align="center center" flex="100">
        <md-list>
            <md-subheader>
                Flashcards
            </md-subheader>
        </md-list>
        <div ng-repeat="flashcard in vm.flashcards | orderBy: flashcard.order">
            <md-divider></md-divider>
            <md-list-item>
                <div layout="column" layout-align="center start">
                    <span class="md-body-1">{{flashcard.front}}</span>
                    <span ng-hide="vm.showAnswer" class="md-caption">&zwnj;</span>
                    <span ng-show="vm.showAnswer" class="md-caption">: {{flashcard.back}}</span>
                </div>
            </md-list-item>
        </div>
    </md-whiteframe>
</div>