<div layout="column" layout-align="center none">
    <div layout="row" layout-align="center" layout-padding>
        <div class="md-display-1">
            Answer, Flip, Evaluate and be Honest.
        </div>
    </div>
    
    <div layout="row">
        <div flex-offset="25" flex="50">
            <flashcard data-front="How many planets are there in our solar system, excluding Pluto?" data-back="There are 8 planets. They are: Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus and Neptune." data-image-url="Images/placeholder.png"></flashcard>
        </div>
        <div flex="25"></div>
    </div>

    <div>
        <div flex-offset="25" flex="50">
            <flashcard data-front="front1" data-back="back1" data-image-url="Images/placeholder-programming.png"></flashcard>
        </div>
        <div flex="25"></div>
    </div>
</div>