@using System.Web.Optimization

<!DOCTYPE html>
<html ng-app="app" ng-controller="mainController as vm">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">

    @Styles.Render("~/bundles/bower_style")
    @Styles.Render("~/bundles/app_style")

    <!-- CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <top-menu ng-cloak></top-menu>
    <div class="md-padding body-content" layout="row">
        <md-content ui-view ng-cloak flex="80" flex-offset="10">
        </md-content>
    </div>
    @Scripts.Render("~/bundles/bower_script")
    @Scripts.Render("~/bundles/app_script")
</body>
</html>