<h1>Project details</h1>

<div>
    <tfs-project-details-admin ng-if="vm.userRole === vm.userRoles.ADMIN"
                               data-roles="vm.roles"></tfs-project-details-admin>

    <tfs-project-details-read ng-if="vm.userRole === vm.userRoles.USER"
                              data-roles="vm.roles"></tfs-project-details-read>

    <tfs-project-details-locked ng-if="vm.userRole === vm.userRoles.UNKNOWN"
                                data-roles="vm.roles"></tfs-project-details-locked>
</div>
